@page "/Feature2/Page2"

<PageTitle>Feature2 Page2</PageTitle>

@attribute [ProtectedPage(GroupName = "Feature 2", Title = "Page 2", GlyphIcon = "bi bi-hash", GroupOrder = 2, ItemOrder = 2)]

<h1>Feature2 Page2!</h1><hr/>

Welcome to your new app.

<CallServerApis/>