@page "/Feature2/Page1"

<PageTitle>Feature2 Page1</PageTitle>

@attribute [ProtectedPage(GroupName = "Feature 2", Title = "Page 1", GlyphIcon = "bi bi-hash", GroupOrder = 2, ItemOrder = 1)]

<h1>Feature2 Page1!</h1><hr/>

Welcome to your new app.

<CallServerApis/>