@page "/change-password"

<PageTitle>Change password</PageTitle>

<div class="card mt-5">
    <div class="card-header">
        <h4 class="card-title">
            Change password
        </h4>
    </div>
    <div class="card-body">
        <EditForm Model="Model" OnValidSubmit="DoChangePasswordAsync">
            <DataAnnotationsValidator/>
            <InputText @bind-Value="Model.OldPassword"
                       autocomplete="currentpassword"
                       type="password"
                       placeholder="Old Password..."
                       class="form-control mb-2"/>
            <ValidationMessage For="() => Model.OldPassword"></ValidationMessage>
            <InputText @bind-Value="Model.NewPassword"
                       type="password"
                       autocomplete="newpassword"
                       placeholder="New Password..."
                       class="form-control mb-2"/>
            <ValidationMessage For="() => Model.NewPassword"></ValidationMessage>
            <InputText @bind-Value="Model.ConfirmPassword"
                       type="password"
                       autocomplete="newpassword"
                       placeholder="Confirm Password..."
                       class="form-control mb-2"/>
            <ValidationMessage For="() => Model.ConfirmPassword"></ValidationMessage>

            <button type="submit" class="btn btn-success btn-block">
                <i class="bi bi-lock-fill"></i> Submit
            </button>
        </EditForm>
    </div>
</div>