@page "/Feature1/Page3"

<PageTitle>Feature1 Page3</PageTitle>

@attribute [ProtectedPage(GroupName = "Feature 1", Title = "Page 3", GlyphIcon = "bi bi-dot", GroupOrder = 1, ItemOrder = 3)]

<h1>Feature1 Page3!</h1><hr/>

Welcome to your new app.

<CallServerApis/>