@page "/Feature1/Page2"

<PageTitle>Feature1 Page2</PageTitle>

@attribute [ProtectedPage(GroupName = "Feature 1", Title = "Page 2", GlyphIcon = "bi bi-dot", GroupOrder = 1, ItemOrder = 2)]

<h1>Feature1 Page2!</h1><hr/>

Welcome to your new app.

<CallServerApis/>