@page "/Feature1/Page4"

<PageTitle>Feature1 Page4</PageTitle>

@attribute [ProtectedPage(GroupName = "Feature 1", Title = "Page 4", GlyphIcon = "bi bi-dot", GroupOrder = 1, ItemOrder = 4)]

<h1>Feature1 Page4!</h1><hr/>

Welcome to your new app.

<CallServerApis/>